body {
    font-family: sans-serif, sans-serif;
    margin: 20px;
    background-color: #121212;
}

h1 {
    color: #ffffff;
}

p { 
    color: #ffffff;
}

#lyricsContainer {
    margin-bottom: 20px;
    font-size: 20px;
}

#currentLine {
    color: #1db954;
    font-weight: bold;
}

#nextLine {
    color: #888;
}

button, .button {
    font-size: 16px;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

button:hover, .button:hover {
    background-color: #1ed760;
}

.center {
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%); /* Firefox */
    -ms-transform: translate(-50%, -50%);  /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari and Chrome*/
    -o-transform: translate(-50%, -50%); /* Opera */
    transform: translate(-50%, -50%);
}