<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Muse-Sync</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="center">
        <h1>Welcome to Muse-Sync</h1>
        <p>This application allows you to sync lyrics with Spotify songs and view them with timestamps.</p>
        <br>
        <a href="{{ url_for('login') }}" class="button">Login with Spotify</a>
        <p id="disclaimer">Muse-Sync is not affiliated with Spotify</p>
    </div>  
</body>
</html>
